@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden; /* Prevent scrolling */
}

.mobile-frame {
  background-color: white;
  box-sizing: border-box;
}

.children {
  width: inherit;
}


h1,h2,h3,h4,h5,h6,p,span{
  font-family: 'Metropolis', sans-serif;
}
